@font-face {
    font-family: 'JetBrains';
    src: url(fonts/JetBrainsMono-Regular.ttf);
}

* {
    background-color: rgb(49, 3, 99);
}

header {
    color: white;
    text-align: center;
    padding: 10px;
    font-size: 50px;
    font-family: 'JetBrains', Arial, Helvetica, sans-serif;
}

.mainContainer {
    display: flex;
    background-color: white;
    max-width: 600px;
    max-height: 600px;
    flex-wrap: wrap;
}