@font-face {
    font-family: 'JetBrains';
    src: url(fonts/JetBrainsMono-Regular.ttf);
}

* {
    background-color: rgb(49, 3, 99);
    font-family: 'JetBrains', Arial, Helvetica, sans-serif;
}

header {
    color: white;
    text-align: center;
    padding: 10px;
    font-size: 50px;
}

.sliderContainer {
    text-align: center;
    margin: 40px;
}

output {
    color: white;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    padding: 10px;
    font-size: 20px;
    color: white;
}

.commitChange {
    background-color: white;
}

.mainContainer {
    display: flex;
    background-color: white;
    width: 600px;
    height: 600px;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    /* box-shadow: 20px 20px 5px #1c1c1c; */
}
